<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="RFD8500Connect" version="0.1.0">
    <name>RFD8500-Plugin</name>
    <description>Cordova RFD8500 Plugin</description>
    <license>All rights reserved</license>
    <keywords>cordova,rfid,zebra,rfd8500,scanner,barcode</keywords>
    <js-module src="www/RFD8500Connect.js" name="RFD8500Connect">
        <clobbers target="cordova.plugins.RFD8500Connect" />
    </js-module>
    <platform name="ios">
        

        <framework src="ExternalAccessory.framework" />
        <framework src="CoreBluetooth.framework" />
        
        <!-- Objective-C plugin API -->
        <header-file src="src/ios/RFD8500Connect.h" target-dir="RFD8500Connect" />
        <source-file src="src/ios/RFD8500Connect.m" target-dir="RFD8500Connect" />
        <header-file src="src/ios/RFD8500RfidEventReceiver.h" target-dir="RFD8500Connect" />
        <source-file src="src/ios/RFD8500RfidEventReceiver.m" target-dir="RFD8500Connect" />
        <header-file src="src/ios/RFD8500BtEventReceiver.h" target-dir="RFD8500Connect" />
        <source-file src="src/ios/RFD8500BtEventReceiver.m" target-dir="RFD8500Connect" />

        <!-- Zebra RFD8500 SDK -->
        <!-- Compiled libraries -->
        <source-file src="src/ios/libs/libsymbolrfid-sdk.a" framework="true" />
        <!-- Header files -->
        <header-file src="src/ios/libs/include_rfid/AccessOperationCode.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidAccessConfig.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidAccessCriteria.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidAccessParameters.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidAntennaConfiguration.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidAttribute.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidBatteryEvent.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidDatabaseEvent.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidDynamicPowerConfig.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidLinkProfile.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidOperEndSummaryEvent.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidPowerEvent.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidPreFilter.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidRadioErrorEvent.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidReaderCapabilitiesInfo.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidReaderInfo.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidReaderVersionInfo.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidRegionInfo.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidRegulatoryConfig.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidReportConfig.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidSdkApi.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidSdkApiDelegate.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidSdkDefs.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidSdkFactory.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidSingulationConfig.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidStartTriggerConfig.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidStopTriggerConfig.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidTagData.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidTagFilter.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidTagReportConfig.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidTemperatureEvent.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidUniqueTagsReport.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_rfid/RfidUntraceableConfig.h" target-dir="RFD8500Connect" />

        <!-- Compiled libraries -->
        <source-file src="src/ios/libs/libsymbolbt-sdk.a" framework="true" />
        <!-- Header files -->
        <header-file src="src/ios/libs/include_bt/FirmwareUpdateEvent.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_bt/ISbtSdkApi.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_bt/ISbtSdkApiDelegate.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_bt/RMDAttributes.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_bt/SbtScannerInfo.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_bt/SbtSdkDefs.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include_bt/SbtSdkFactory.h" target-dir="RFD8500Connect" />

    </platform>
</plugin>