<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="RFD8500Connect" version="0.1.0">
    <name>RFD8500-Plugin</name>
    <description>Cordova RFD8500 Plugin</description>
    <license>All rights reserved</license>
    <keywords>cordova,rfid,zebra,rfd8500,scanner,barcode</keywords>
    <js-module src="www/RFD8500Connect.js" name="RFD8500Connect">
        <clobbers target="cordova.plugins.RFD8500Connect" />
    </js-module>
    <platform name="ios">
        
        
        <!-- Objective-C plugin API -->
        <header-file src="src/ios/RFD8500Connect.h" target-dir="RFD8500Connect" />
        <source-file src="src/ios/RFD8500Connect.m" target-dir="RFD8500Connect" />

        <!-- Zebra RFD8500 SDK -->
        <!-- Compiled libraries -->
        <source-file src="src/ios/libs/libsymbolrfid-sdk.a" framework="true" />
        <!-- Header files -->
        <header-file src="src/ios/libs/include/AccessOperationCode.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidAccessConfig.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidAccessCriteria.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidAccessParameters.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidAntennaConfiguration.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidAttribute.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidBatteryEvent.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidDatabaseEvent.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidDynamicPowerConfig.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidLinkProfile.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidOperEndSummaryEvent.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidPowerEvent.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidPreFilter.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidRadioErrorEvent.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidReaderCapabilitiesInfo.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidReaderInfo.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidReaderVersionInfo.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidRegionInfo.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidRegulatoryConfig.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidReportConfig.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidSdkApi.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidSdkApiDelegate.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidSdkDefs.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidSdkFactory.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidSingulationConfig.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidStartTriggerConfig.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidStopTriggerConfig.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidTagData.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidTagFilter.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidTagReportConfig.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidTemperatureEvent.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidUniqueTagsReport.h" target-dir="RFD8500Connect" />
        <header-file src="src/ios/libs/include/RfidUntraceableConfig.h" target-dir="RFD8500Connect" />

    </platform>
</plugin>